# Dependencies
node_modules/
jspm_packages/
.npm
.yarn/cache

# Temporary files
tmp/
temp/

# Logs
logs
*.log
npm-debug.log*

# Coverage
coverage

# Environment and Secrets
.env
.env.*
!.env.example

# IDE/Tools
.vscode-test
.eslintcache
